:root {
    --primary: hsla(100, 100%, 100%, 0.8);
    --primary-light: hsla(100, 100%, 100%, 0.5);
    --primary-lighter: hsla(100, 100%, 100%, 0.3);
    --secondary: hsla(0, 0%, 0%, 0.8);
    --secondary-light: hsla(0, 0%, 0%, 0.5);
    --secondary-lighter: hsla(0, 0%, 0%, 0.3);
    --blanch: hsla(36, 100%, 90%, 0.5);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(var(--primary-lighter), var(--primary-lighter)),
        url(office/2.jpg);
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
.flex {
    display: flex;
    background-color: hsla(208, 100%, 97%, 0.8);
    width: 70%;
    margin-top: 200px;
}
.form {
    padding: 50px;
    width: 50%;
}
.form h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-floating {
    display: block;
    margin: auto;
    width: 75%;
}
.form-control {
    margin: 10px auto;
}
.form-control:focus {
    box-shadow: none;
    border-color: black;
}
.btn-dark {
    display: block;
    margin: auto;
}
.btn:focus {
    text-shadow: none;
}
.login p {
    text-align: center;
    display: block;
    margin: auto;
}
.login p a {
    text-decoration: none;
    color: cornflowerblue;
}
.login p a:hover {
    text-decoration: underline;
}
.side-content {
    background: url(office/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 30px;
    width: 50%;
    margin: -50px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.3);
}
.title h2 {
    font-weight: bold;
}
.modal {
    padding: 20px;
}
h2 {
    font-size: 3rem;
    font-weight: bold !important;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    .flex {
        margin-top: 100px;
        display: block;
    }
    .form {
        width: 100%;
        padding: 30px 10px;
    }
    .form h1 {
        font-size: 2rem;
        text-align: center;
    }
    .side-content {
        width: auto;
        color: #000;
        margin: 0px -50px 50px -50px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .modal {
        padding: 40px;
    }
    .modal-title {
        font-size: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 600px) {
    .flex {
        margin-top: 100px;
        display: block;
    }
    .form {
        width: 100%;
        padding: 40px 10px;
    }
    .form h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .side-content {
        width: auto;
        margin: 0px -50px 50px -50px;
    }
    .modal {
        padding: 40px;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 768px) {
    .flex {
        margin-top: 100px;
        display: block;
    }
    .form {
        width: 100%;
        padding: 40px;
    }
    .form h1 {
        font-size: 3rem;
        text-align: center;
    }
    .side-content {
        width: auto;
        margin: 0px -50px 50px -50px;
    }
    .modal {
        padding: 40px;
    }
}
@media only screen and (min-width: 992px) {
    .flex {
        margin-top: 200px;
        display: flex;
    }
    .form {
        width: 80%;
        padding: 30px 10px;
    }
    .side-content {
        width: 50%;
        padding: 50px 30px;
        margin: -50px;
    }
    .modal {
        padding: 20px;
    }
}
@media only screen and (min-width: 1200px) {
    .form {
        width: 50%;
        padding: 30px 10px;
    }
}
